<div class="row-fluid">
  <p>&copy; Copyright Baron Bloomer 2015</a>.</p>
  <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
</div>